extends base

block global_title
  | Archives - #{config.title}

block main
  div.page
    h2.page-title Archives
    div.page-content
      include mixins
      div.post-items
        - page.posts.each(function(post) {
          article.post-item
            a.post-item-inner(href=config.root+post.path)
              div.post-meta
                span.post-time 
                  +date(post.date)
              h3.post-title #{post.title} 
        - })