meta(charset="utf-8")
meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
title
  block global_title
    = config.title

link(rel="stylesheet" href="//cdn.jsdelivr.net/font-hack/2.010/css/hack.min.css")
link(rel="stylesheet" href=config.root+"css/pace.css")
link(rel="stylesheet" href=config.root+"css/main.css")
