div.zhiheader-wrapper
  header.zhiheader
    div.container
      div.header-left
        h1.sitename
          a(href=config.root) 
            = config.title
        h2.slogan
          = config.subtitle
      nav.header-nav
        ul
          li
            a(href="#{theme.menu.Home}") Home
          li
            a(href="#{theme.menu.About}") About
          li
            a(href="#{theme.menu.Live}") Watch Me Code
