@import 'nib'
@import 'normalize'
@import 'mixins'
@import 'reset'
@import 'holder'
@import 'markdown'

body
  margin 0
  font 14px/1.4 Hack, Helvetica, seif

.zhiend
  background-color #469BDD
  min-height 90vmin
  color white
  a
    color @color
  .zhiheader-wrapper
    clearfix()
    padding-top 30px
  .zhiheader
    text-height 50px
    .header-left
      float left
      line-height 1.4
      h2
        font-size 14px
    .header-nav
      float right
      ul
        list-style none
      li
        float left
        a
          display block
          &:after
            content ''
            display block
            height 1px
            background-color white
            width 0
            transition width .3s ease-in-out
          &:hover
            &:after
              width 100%
      li+li
        margin-left 20px
  .zhimain
    .site-description
      margin-top 100px
      margin-bottom 0
      font-size 30px
      width 70%

.footer
  min-height 10vmin
  line-height 10vmin

.container
  max-width 960px
  margin 0 auto

.page
  padding-top 40px
  .post-content
    a
      border-bottom 1px solid rgba(255, 255, 255, 0.44)
      transition border-bottom-color .3s ease-in-out
      &:hover
        border-bottom-color white
.post-content
  padding 30px 0
.is_page
  .post-content
    font-size 16px
    max-width 60%
.post-items
  padding-top 20px
  .post-item
    background-color rgba(38, 115, 174, 0.9)
    border-radius 3px
    transition box-shadow .3s ease-in-out
    &:hover
      box-shadow 0 0 6px rgba(51, 51, 51, 0.29) inset
    .post-item-inner
      padding 10px
      margin-bottom 10px
      display block
      .post-meta
        margin-bottom 5px
