@media (max-width: 768px)
  .container
    padding 0 10px
  .zhiend
    .zhimain
      .site-description
        font-size 20px
        margin-top 30px
        width 100%
  .is_page
    .post-content
      max-width 100%
